h1 {
    color: red;
}

h2 {
    background-color: green;
    color: white;
    border: 5px solid green;
}

h2.big_border {
    border: 40px solid green;
}

.block {
    height: 200px;
    width: 200px;
}

.first {
    color: white;
    background-color: blue;
    width: 100px;
}

.second span {
    color: red;
}

.center {
    margin-left: 80px;
}

.list li {
    border: 2px solid black;
    font-size: 25px;
}
